.productItem{
    width: 32%;
    
    margin: 1em 0;


&__image{
    width: 100%;
    img{
         width: 100%;
         height: 100%;
         object-fit: fill;
     }
 }

&__name{
    font-size: 20px;
    margin: 0 0 0.5em 0;
    text-transform: uppercase;
    height: 50px;
 }

&__price{
    font-size: 30px;
    color: #ea8025;
}

&__btnDiv{
    display: flex;
}

&__btn{

    box-sizing: border-box;

    outline: none;
    
    padding: 10px; 
    margin: 0 1em 0 0;

    cursor: pointer;
}
.btn-active{
    background: #ea8025;
    color: white;
    border: #ea8025 solid 2px;
    z-index: 0;

    position: relative;
    transition: all 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);

   &::before{
        content: '';
        position:absolute;
        width: 0%;
        height: 100%;
        top:0;
        right: 0;

        z-index: -1;
        background: white;

        transition: all 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
   }

    &:hover{
        &::before{
            width: 100%;
            left:0;
        }
        color: #ea8025;
    }
    
}
.btn-none{
    background: white;
    color: #ea8025;
    border: #ea8025 solid 2px;

    transition: all 0.45s ease-in-out ;

    &:hover{
        background: #ea8025;
        color: white;
        border: #ea8025 solid 2px;
    }
}
}