.header{
    position: sticky;
    top:0;
    z-index: 100;

    display: flex;
    justify-content: center;
    align-items: flex-end;
    
    background: black;
    
    color: white;

    &__logo{
        font-size: 30px;
    }

    &__list__group{
        height: 100%;
    }

    &__list{
        display: flex;
        height: 100%;

        list-style: none;
        font-size: 13px;

        &__li{
            position: relative;

            display: flex;
            flex-direction: column;
            cursor: pointer;

            padding: 1em 1em;

            &::before{
                content: '';
                position:absolute;
                bottom: 0;
                left: 0;
                
                height: 5px;
                width: 100%;

                background: orange;

                transform: scaleX(0);
                transform-origin: 0;
                transition: all 0.45s ease-in-out;
            }
            &:hover{
                &::before{
                transform: scaleX(1)
                };
            }
            &:hover &__list{
                transform: translateY(0);
                opacity: 1;
            }

            &__list{
                position: absolute;
                top: 100%;
                left: 0;

                list-style: none;
                background: white;
                color: black;
                padding: 0;
                
                display: flex;
                flex-direction: column;
                width: 200%;

                transform: translateY(4em);
                opacity: 0;
                transition: all 0.45s ease-in-out;
            }
            &__list li{
                box-sizing: border-box;
                padding: 10px 10px;

                &:hover{
                    background: #d4d3d3;
                }
            }

        }
    }
}