.home{

    &__slide__image{
        width: 100%;
        max-width: 1500px;
        height: 700px;
        img {
            width: 100%;
            height: 100%;
            object-fit: fill;

        }
    }
    
    &__menu{
        margin: 1em 150px;

        &__title{
            display: flex;
            justify-content: space-between;
            margin: 1em 0;
            span {
                font-size: 30px;
            }
        }

        &__btn{
            border: none;
            position: relative;
            padding: 10px;

            color: white;
            border: black solid 2px;
            background: black;

            z-index: 0;
            cursor: pointer;
            transition: all 0.45s ease-in-out;
            &::before{
                content:'';
                
                position: absolute;
                top:0;
                right: 0;
                
                z-index: -1;
                text-align: center; 

                width:0%;
                height: 100%;
                background: white;
                transition: all 0.45s ease-in-out;

            }

            &:hover{
                &::before{
                    width: 100%;
                    left: 0;
                }
                color: black;
            }
        }

        &__list{
            
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }
}