*{
  margin: 0;
}
.App__btn{
  width: 70px;
  height: 70px;
  
  border-radius: 50%;
  font-size: 30px;

  background: black;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;


  position: fixed;
  top: 80%;
  right: 2%;
  cursor: pointer;
}
.App__btn:hover{
  -webkit-animation: wiggle 0.5s alternate ease infinite;
    animation: wiggle 0.5s alternate ease infinite;
}
@keyframes wiggle {
  from { transform: rotate(360deg); }
  to   { transform: rotate(330deg); }
}